header {
    text-align: left;
    padding: 5px;
    font-family: "times new roman", Times, serif;
    font-weight:bold;
    font-size: 25px;
    color: #dc7f5d;
  }
  
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-left: solid #FF7F50;
    background-color: #D2691E;
  }
  
  .nav-bar li {
    float: left;
  }
  
  .nav-bar li a {
    display: block;
    text-align: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    color:rgb(255, 255, 255);
  }

  .nav-bar li a:hover {
    background-color: #510000;
  }
  
  img {
      position: right;
      width: 100%;
  }
    
  body {
      background-color: #FFE4C4;
  }

  
  h1 {
      text-align: center;
      font-family: "Times New Roman", Garamond, serif;
      color: #2C3E50;
      margin: 10px;
      padding:5px;
  }
  
  h2 {
      text-align: left;
      font-family: "Times New Roman", Times, serif;
      color:#FF7F50;
      border-right: 2px solid #2C3E50;
      margin: 5px;
      padding:5px;
      width: 20%;
  }
  h3 {
      text-align: center;
      font-family: "Times New Roman", Times, serif;
      color:#FF7F50;
      margin: 5px;
      padding:5px;
      color: #2F4F4F;
  }

  #splitstuff {
    column-count: 2;
  }
  p {
      text-align: center;
      vertical-align: middle;
      font-family: "Times New Roman", Times, serif;
      color: #8B4513;
      margin: 10px;
      padding: 10px;
      border: 3px solid #FF7F50;
  }
  
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #4682B4;
    background-color: #FFDAB9;
    color:#2F4F4F;
    border-radius: 5px;
  }
  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #A0522D;  
    background-color: #F0E68C;
    color:#2F4F4F;
    border-radius: 5px;
  }

textarea {
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #3B2F2F;
      border-radius: 5px;
      background-color: #F4A460;
      resize: none;
      color:#2F4F4F;
      font-size: 16px;
  }

  input[type=button] {
      background-color: #FF6347;
      border: none;
      color: #2F4F4F;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      width:100%;
  }
label[for="email"] {
    color: #A0522D;
}
label[for="name"] {
    color: #4682B4;
}
label[for="message"] {
    color: #3B2F2F;
}
 
